.tableData {
    animation: fadeIn;
    animation-duration: 0.5s;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    th {
        padding: 10px;
        border-bottom: 1px solid #eff2f5;
    }

    td {
        border-bottom: 1px solid #eff2f5;

        svg {
            margin-right: 4px;
        }

        .caretDown {
            transform: rotate(180deg);
        }

        .name {
            span {
                max-width: 237px;
                font-weight: 600;
                margin-left: 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            display: flex;
            align-items: center;

            .currency {
                font-weight: 500;
                color: #808a9d;
            }
        }
        padding: 10px;
    }

    .marketCap, .price, .red, .green {
        font-weight: 500;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }
}


