.tableHead {

  th {
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    -webkit-user-select: none;

    &:hover {
      border: 1px solid #dedede;
      border-bottom: none;
    }

    &:active {
      background-color: #eeeeee;
    }
  }

  .rank {
    text-align: center;
  }

  .sortOrder {
    font-weight: 500;
    color: #808a9d;
    font-size: 12px;
  }
}

table {
  box-sizing: border-box;
  margin: 10px 0;
}

.tableBottom {
  box-sizing: border-box;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .chooserRows {
    font-weight: 500;

    select {
      margin-left: 5px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid black;
    }
  }

  .pages {
    display: flex;
    flex-direction: row;

    .page, .currentPage {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20%;
      width: 32px;
      height: 32px;
      padding: 0 6px;
      margin-left: 6px;
      border: 1px solid #dedede;
      cursor: pointer;

      &:hover {
        background-color: #eeeeee;
      }

      &:active {
        background-color: darken(#eeeeee, 15%);
      };
    }

    .currentPage {
      color: white;
      background-color: rgb(103, 128, 215);

      &:hover {
        background-color: darken(rgb(103, 128, 215), 5%);
      }
    }
  }
}

.loader {
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  border: 4px solid #6780d7;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.tableWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



